body{
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  font-size: 100%;
  font-family: sans-serif;
 }
 
 body, ::-webkit-scrollbar, .imgrev::before {
  background: #f3f3eb;
}

.material-slider .imgrev::before {
  background: #977356;
}

.antique-section .imgrev::before {
  background: #f3f3eb;
}
 
 *{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   /* -webkit-user-select: none; */
 }
 
 ::-webkit-scrollbar{
   width: 5px;
 }
 
 ::-webkit-scrollbar-thumb{
   background: #fff;
 }
 
 ::-moz-selection, ::selection, ::-webkit-selection{
   color: inherit;
   background: transparent;
 }
 

 
 
 /*UNIVERSAL*/
 
 .col-2 {width: 16.66%;}
 .col-3 {width: 25%;}
 .col-4 {width: 33.33%;}
 .col-5 {width: 41.66%;}
 .col-6 {width: 50%;}
 .col-7 {width: 58.33%;}
 .col-9 {width: 75%;}
 .col-10 {width: 83.33%; margin: auto;}
 .col-12 {width: 100%;}
 
 ul, li{
   list-style-type: none;
   margin: 0;
   padding: 0;
 }
 
 h3, h4{
   font-weight: normal;
 }
 
 p, h1, h5{
   cursor: default;
   font-weight: normal;
 }
 
 p .row{
   margin-bottom: 2px;
 }
 

 h1 .row{
   margin-bottom: -2.5vw;
   padding: 0 10px 0 3px;
   margin-left: -4px;
 }
 
 h1 span:first-child > span{
   transition-delay: .1s;
 }
 

 
 h1 span:nth-child(3) > span{
   transition-delay: .3s;
 }
 
 h4 .row{
   padding: 0 8px 0 3px;
 }
 
 h1 .row > span{
   line-height: 108%;
 }
 
 del{
   text-decoration: none;
   position: relative;
 }
 
 del::after{
   content: '';
   position: absolute;
   height: 10px;
   width: 100%;
   background: #2c2a2a;
   top: 50%;
   transform: translate(0, -50%);
   left: 0;
 }
 

 
 .outline{
   -webkit-text-stroke: .02em #fff;/*#4bbfda*/
   /* text-stroke: 1px #fff; */
   color: transparent;
 }
 
 .-o{
   opacity: .3;
 }
 
 .delay span:first-child > span{
   transition-delay: .1s;
 }
 
 .delay span:nth-child(2) > span{
   transition-delay: .2s;
 }
 
 .delay span:nth-child(3) > span{
   transition-delay: .3s;
 }
 
 .delay span:nth-child(4) > span{
   transition-delay: .4s;
 }
 
 .delay span:nth-child(5) > span{
   transition-delay: .5s;
 }
 
 .row{
   overflow: hidden;
   font-size: inherit;
 }
 

 
 .row > span{
   font-family: inherit;
   transform-origin: 0 0;
 }

 /* .project-section h2{
  transition-delay: .2s;
 } */
 
 /* .antique-section h2[data-emergence=hidden] {
   transform: translate(0, 100%) rotate(0deg) scaleY(0.5);
 }
 .antique-section h2[data-emergence=visible] {
   transform: translate(0, 0) rotate(0) scaleY(1);
 } */

/* .material-section h2{
  transition-delay: .2s;
}
 .antique-section h2{
  transition-delay: .2s;
}
.project-section h2{
 transition-delay: .2s;
} */
 .project-section h2[data-emergence=hidden] {
  transform: translate(0, 100%) rotate(0deg) scaleY(0.5);
}
.project-section h2[data-emergence=visible] {
  transform: translate(0, 0) rotate(0) scaleY(1);
}
/* .material-section h2[data-emergence=hidden] {
  transform: translate(0, 100%) rotate(0deg) scaleY(0.5);
}
.material-section h2[data-emergence=visible] {
  transform: translate(0, 0) rotate(0) scaleY(1);
}
.material-section h2{
  transition-delay: .2s;
} */
.swiper-slider [data-emergence=hidden] {
  transform: translate(0, 100%) rotate(0deg) scaleY(0.5);
}
.swiper-slider [data-emergence=visible] {
  transform: translate(0, 0) rotate(0) scaleY(1);
}
.swiper-slider h3,p{
  transition-delay: .2s;
}
 
 .flex{
   display: flex;
   align-items: center;
 }
 
 .jus{
   justify-content: space-between;
 }
 
 .ali{
   align-items: flex-start;
 }
 
 .imgrev{
   position: relative;
   /* overflow: hidden; */
 }
 .w-img{
  /* overflow: hidden; */
  /* width: auto; */
  text-align: center;
  position: relative;
}
 
 .imgrev img{
   /* width: 100%; */
   transform: scale(1, 1);
   transition: .4s cubic-bezier(0.215, 0.61, 0.355, 1);
   transition-delay: .2s;
 }
 .row > span, .imgrev::before{
  transition: transform .7s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-delay: .3s;
}

/* .antique-section h2{
  transition: transform .7s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-delay: .3s;
}
.material-section h2{
  transition: transform .7s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-delay: .3s;
}
.project-section h3,h2{
    transition: transform .7s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-delay: .3s;
} */

.project-section h3,h2{
  transition: transform .7s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-delay: .3s;
} 
.swiper-slider h3,p{
  transition: transform .7s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-delay: .3s;
}

 .imgrev::before{
   content: "";
   position: absolute;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 5;
   transition: .8s cubic-bezier(0.215, 0.61, 0.355, 1);
   transition-delay: .1s;
 }
 
 .imgrev[data-emergence=hidden]::before {
   height: 100%;
   width: auto;
 }
 .imgrev[data-emergence=visible]::before{
   height: 0;
 }
 
 .imgrev[data-emergence=hidden] img{
  /* transform: none; */
   /* transform: scale(1.1, 1.1); */
   /* display: none; */
   /* transform: scale(1, 1); */
     /* Initial state */
transform: scale(1, 1);
 }

 .imgrev[data-emergence=visible] img{
   transform: scale(1, 1);
 }
 
 
 

 
 .ce{
   text-decoration: underline;
   transform: translate(0, 4vh);
   display: block;
   font-size: 25px;
   font-family: circular_bold;
 }
 
 .copy{
   font-size: 12px;
   transform: translate(0, 15vh);
   opacity: .7;
   font-family: circular;
 }
 
 .wrk, .con, .pro, .exp{
   margin: 30vh 5vw 0 5vw;
   position: relative;
 }
 
 .wrk_t > h1, .ins > .arc_t > h1, .pro > div{
   transform: translate(14px, 0);
 }
 
 .wrk_t{
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
 }
 
 .wrk > div{
   width: 100%;
 }
 
 
 
 .w-img > div{
   position: absolute;
   left: 0;
   top: 0;
 }
 
 .w-img > .bg{
   width: 100%;
   margin-bottom: -5px;
 }
 
 .w-txt{
   padding-top: 20px;
   display: flex;
   align-items: flex-start;
 }
 
 .w-txt div{
   padding-left: 50px;
 }
 
 .w-txt p{
   font-size: 18px;
   font-family: circular_bold;
   color: #fff;
 }
 
 .w-txt div span{
   font-size: 13px;
   opacity: 0.7;
   font-family: circular;
   padding-top: 2px;
   color: #fff;
 }
 
 .fot{
   display: flex;
   justify-content: space-between;
   margin: 0 5vw 3vw 5vw;
   border-top: 1px solid rgba(240, 240, 243, .08);
   padding-top: 2vw;
 }
 
 .fot p{
   font-size: 13px;
 }
 
 .fot a{
   font-size: 20px;
 }
 
 .fot > p span:last-child > span{
   transition-delay: .3s;
 }
 
 .copy{
   opacity: .5;
   transform: translate(0, 15vh);
   font-size: 12px;
 }
 
 .float{
   opacity: 0;
   position: fixed;
   z-index: 100;
   transition: .2s;
   transition-property: opacity;
   pointer-events: none;
 }
 
 .beh img{
   width: 90px;
 }
 
 .custom_img img{
   width: 18vw;
 }
 
 /* .imgrev[data-emergence=hidden]{
  overflow:hidden;
}
.w-img[data-emergence=hidden]{
overflow:hidden;
} */