#loader:after {
    content: "";
    background: url(../images/preloading.gif);
    height: 904px;
    width: 100%;
    background-size: cover;
    background-repeat: repeat-x;
    background-position: right;
    background-attachment: fixed;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    /* animation: message_move_r 4s linear; */
  }
  @-webkit-keyframes message_move_r {
    0% {
        width: 0%;
  
    }
  
  
    100% {
        width: 100%;
    }
  
  }
  
  
  @keyframes message_move_r {
    0% {
        width: 0%;
    }
  
    100% {
        width: 100%;
    }
  
  }
 

  #loader{
    background: url(../images/preloading.gif);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    height: 100vh;
  }