@media screen and (max-width:1407px){
    .about-1 {
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 140vh;
        position: relative;
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
        background: url(../images/final-about.gif);
    }
    .about-1 h2 {
        font-size: 7vw;
        color: #9a765c;
        width: 100%;
        margin: auto auto 5vh;
        padding: 0 0px 0px 0px;
    }
    .never-about-us .img-card img {
        box-shadow: 0px 4px 10px -2px #141212;
        width: 100%;
        height: 100%;
        filter: grayscale(100%);
        object-fit: cover;
    }
    .never-about-us p {
        font-size: 9px;
        letter-spacing: 2px;
        color: #fff;
        font-family: larken;
        text-align: justify;
    }
    .never-about-us .text-card {
        padding: 10px;
        color: #fff;
        text-align: center;
        width: 50%;
    }
    .never-about-us .img-card {
        margin-top: -35px;
        margin-bottom: -35px;
        width: 50%;
    }
    
    .never-about-us .slick-list {
        position: relative;
        display: block;
        overflow-x: clip;
        overflow-y: initial;
        margin: 0;
        padding: 0;
    }
      .never-about-us .card {
          /* align-items: center; */
        flex-direction: row;
        background: #9a765d;
        color: #fff;
        height: 400px;
        width: 100%;
    }
}

@media screen and (max-width:1024px){
    .about-1 p {
        /* margin-bottom: 120px; */
        font-size: 14px;
        color: #8b5e3c;
        max-width: 55vw!important;
        font-weight: 100;
        letter-spacing: 1px;
        text-align: justify;
    }
    
    .about-brown-bg img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 30px;
        max-width: 100%;
        height: 450px;
        object-fit: cover;
    }
    
}

@media screen and (max-width:991px){
    .material-section {
        background: #f3eee8;
        padding-top: 50px;
      }
      .antique-content img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .antique-cover{
        height: 250px;
    width: auto;
    margin: auto;
    }      
    .navbar .logo {
        margin-top: -5px;
        display: flex;
    }
    .homewrapper_video{
        padding-top: 50px;
    }
    .contact-form .form-control, .contact-form .form-control:focus {
        background: transparent;
        border: none;
        border-bottom: 1px solid #f7f6ef;
        border-radius: 0;
        width: 100%;
        font-weight: 400;
        color: #f7f6ef;
    }
    .login-bg .form-control {
        width: 100%;
        background: transparent;
        border-bottom: 4px solid #fff;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        border-radius: unset;
        justify-content: center;
        margin: 50px auto;
    }
    .never-about-us p{
        font-size: 12px;
    }
    .material-slider:before {
        content: "";
        background: url(../images/mat.png);
        width: auto;
        background-size: cover;
        background-repeat: no-repeat;
        left: 0;
        height: 100%;
        display: block;
        position: absolute;
        z-index: 0;
        bottom: 0;
        animation: wave 50s linear infinite;
    }
    .nav-bg {
        background-color: #99765c;
        padding: 2px 0px;
        position: fixed;
        top: 0;
        z-index: 999;
    }
    
    .mobile-nav:after {
        content: "";
        background: url(../images/menulogo.svg);
        width: 113px;
        height: 188px;
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .contact-info h2 {
        font-weight: 400;
        font-size: 50px;
        line-height: 50px;
        text-align: center;
        color: #f7f6ef;
        padding-top: 120px;
        padding-bottom: 30px;
    }
    .contact-accordion, .contact-form, .contact-info, .contact-info-head {
        width: 100%;
    }
    .contact-upper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 40px 0;
    }
    
    .contact-info-head h2 {
        font-size: 50px;
        line-height: 50px;
        text-align: center;
        color: #f7f6ef;
        padding-bottom: 20px;
        margin: 0 auto;
    }
    .contact-form form {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }    
    .about-content h2 {
        font-size: 48px;
        line-height: 48px;
        display: block;
        text-align: left;
        padding-bottom: 5px;
        border-bottom: unset;
        color: #9c7760;
    }
    ul.nav li {
        margin-right: 20px;
    }
    .aboutus-section {
        padding: 75px 0;
        background: #f3f3ec!important;
    }
    .footer-logo {
        margin: auto auto 50px auto;
    }
    .footer-logo div.icon {
        width: 57px;
        margin-left: auto;
        margin-bottom: 11px;
        margin-right: auto;
    }
    
    .footer-logo div.icon-text {
        width: 200px;
        margin: auto;
    }
    .footer-logo div.tag-line {
        width: 150px;
        margin: auto;
    }
    .social-icons{
        margin-top: 20px;
    }
    .about-1 p {
        margin: auto;
        font-size: 2.1vw;
        color: #8b5e3c;
        max-width: 60vw!important;
    }
    .about-2 {
        width: 100vw;
        height: 40vh;
        background-size: cover;
        background-position: center;
        position: relative;
        background-image: url(../images/about2.jpeg);
    }
    .about-1 h2 {
        font-size: 7.5vw;
        color: #9a765c;
        width: 100%;
        margin: auto auto 5vh;
        padding: 10px 0px 0px 0px;
    }
   
    .project-section h2 {
        background: #f3f3ec;
    }
    .img-wrapper {
        width: 100%;
        margin: auto;
        display: block;
    }
    
    .about-brown-bg img {
        position: relative;
        top: 20px;
        transform: inherit;
        left: 12px;
        width: calc(100% - 20px);
        height: 254px;
    }
    .about-brown-bg {
        width: 100%;
        height: auto;
        background: transparent;
        position: relative;
        max-height: 290px;
        margin-top: 0px;
    }
    .about-cover .btn {
        margin: 52px auto 0;
        color: #9c7760!important;
    }
    .material-section h2 {
        font-size: 48px;
        line-height: 48px;
        display: block;
        padding-bottom: 5px;
        border-bottom: 2px solid #9c7760;
        color: #9c7760;
        margin: 0 15px 25px;
        background: #f3f3ec;
        text-align: left;
    }
    .material-slider .slick-slide img {
        display: block;
        width: 100%;
        height: 420px;
        object-fit: cover;
    }
    .antique-section h2 {
        font-size: 48px;
        line-height: 48px;
        display: block;
        padding-bottom: 5px;
        border-bottom: 2px solid #9c7760;
        color: #9c7760;
        margin: 0;
        text-align: left;
        background: #f3eee8;
    }
    .antique-left {
        width: 100%;
        order: 2;
    }
    .antique-info {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
    .antique-info p {
        font-weight: 300;
        font-size: 9px;
        line-height: 12px;
        color: #9c7760;
        width: 100%;
        border-top: 1px solid #9c7760;
        padding-top: 10px;
        text-align: left;
        margin-right: 10px;

    }
    .antique-line {
        display: none;
    }
    .antique-right {
        width: 100%;
        padding-left: 0;
        order: 1;
        margin-bottom: 20px;
    }
    .antique-info img {
        width: 100%;
    }
}

@media  screen and (max-width:720px) {
    

    .contact-info h2 {
        font-weight: 400;
        font-size: 50px;
        line-height: 50px;
        text-align: center;
        color: #f7f6ef;
        padding-top: 70px;
        padding-bottom: 0;
    }
    #accordion .card-body {
        font-size: 12px;
    }
    .contact-form .form-control, .contact-form .form-control:focus {
        background: transparent;
        border: none;
        border-bottom: 1px solid #f7f6ef;
        border-radius: 0;
        width: 100%;
        font-weight: 400;
        color: #f7f6ef;
        margin: 20px 0px;
        font-size: 14px;
        line-height: 4;

    }
    .contact-form textarea.form-control {
        height: 40px;
        resize: none;
        line-height: 3;
    }
    #accordion .card-header a {
        color: #fff;
        text-decoration: none;
        background-color: transparent;
        font-family: 'myFirstFont';
        font-size: 18px;
    }
    .project-section {
        padding: 100px 0px 0px 0px;
    }
    .future-antiques {
        padding: 0px 15px;
    }
    .antique-section {
        background-color: #f3f3eb;
        position: relative;
        background-image: unset;
        background-repeat: no-repeat;
        padding: 40px 0px;
    }
    .about-content p {
        FONT-WEIGHT: 100;
        font-style: normal;
        font-size: 10px;
        line-height: 14px;
        max-width: 74vw;
        margin-bottom: 40px;
        color: #896249;
        font-family: laren;
        text-align: left;
    }
    .slick-prev:before {
        content: "<";
        color: #f3f3eb;
        font-size: 30px;
        position: absolute;
        top: 0;
        left: -15px;
      }
      
      .slick-next:before {
        content: ">";
        color: #f3f3eb;
        position: absolute;
        top: 0;
        right: -15px;
        font-size: 30px;
      }
    .never-about-us .text-card h3 {
        font-size: 32px;
    }
    .never-about-us .text-card h4 {
        font-size: 16px;
    }
    .material-heading {
        height: auto;
        overflow: hidden;
        margin-bottom: 5px;
    }
    .meterial2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: auto;
        position: relative;
    }
    .fix-height {
        height: auto;
        overflow: hidden;
    }
    .material-section {
        background: #f8f6f0;
        padding-top: 0px;
    }
    .antique-section h2 {
        font-size: 48px;
        line-height: 48px;
        display: block;
        padding-bottom: 5px;
        border-bottom: 2px solid #9c7760;
        color: #9c7760;
        margin: 0;
        text-align: left;
        background: transparent;
    }
    .aboutbg h1 {
        position: absolute;
        left: 0;
        right: auto;
        text-align: center;
        top: 40%;
        margin: auto;
        font-size: 18.6vw;
        color: #fff;
        width: 100%;
        line-height: 1;
    }
    hr.moving-line {
        border: 1px solid rgb(124 89 66);
        margin-top: 0;
    }
    
    .about-1 h2 {
        font-size: 14.5vw;
        color: #9a765c;
        width: 100%;
        margin: auto;
        padding: 10px 0px 0px 0px;
    }
    .navbar li:nth-child(odd)::before {
        counter-increment: section;
        content: "0" counter(section);
        position: absolute;
        top: 0;
        left: 7px;
        color: #fff;
        font-style: italic;
        font-family: 'myFirstFont';
    }
    .navbar li:nth-child(even)::after {
        counter-increment: section;
        content: "0" counter(section);
        position: absolute;
        top: 0;
        right: 12px;
        color: #fff;
        font-family: 'myFirstFont';
        font-style: italic;
    }
    
    .never-about-us-mob{
        background-color: #9a765c;
    }
    .never-about-us-mob .text-card {
        margin-top: 70px;
    }
    .mt-120 {
        margin-top: 15px;
    }
    .never-about-us h2 {
        color: #9a765c;
        font-size: 12vw;
        font-family: "myFirstFont"!important;
        letter-spacing: 2px;
        line-height: 0.7;
        padding-top: 15px;
    }
    .never-about-us .text-card {
        padding: 0;
        color: #fff;
        text-align: center;
        width: 100%;
    }
    .mb-25vh{
        margin-bottom: 25vh;
    }
    .never-about-us .heading-container {
        height: 65px;
        overflow: hidden;
    }
    .never-about-us .img-card {
        margin-top: -220px;
        margin-bottom: -35px;
        width: 100%;
    }
    .met3 .material1 {
        height: auto;
    }
    .about-1 {
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        align-items: center;
        max-width: 510px;
        top: 50%;
        background: #f3f3eb;
        width: 100vw;
        height: auto;
        position: relative;
        padding-bottom: 0;
    }
    .about-1 .heading-container {
        width: 100%;
        height: 90px;
        overflow: hidden;
    }

    .solid-button{
        max-width: 193px;
        height: 45px;
        font-weight: 400;
        font-size: 12px!important;
        line-height: 45px!important;
        text-align: center;
        color: #f7f6ef!important;
    }
    .project-section h3 {
        font-weight: 400;
        font-size: 16px;
        line-height: initial;
        color: #9a765c;
        text-align: center;
        padding-top: 10px;
        letter-spacing: 1px;
    }
    .footer-menu ul {
        list-style-type: none;
        margin: 0;
        text-align: center;
        padding: 0;
        border-left: 2px solid transparent;
        border-right: 2px solid transparent;
    }
    .material-slider h3 {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
        color: #f1eae2;
        text-align: center;
        padding-top: 10px;
        margin: 0;
        letter-spacing: 1px;
    }
    .img-wrap {
        width: auto;
        height: auto;
        display: block;
        margin: auto;
    }
    .outline-button {
        font-weight: 300!important;
        font-size: 10px!important;
        line-height: 13px!important;
        max-width: 103px;
        height: 30px;
        margin: auto;
        border-radius: 0!important;
        display: block;
    }
    .met5-left-side h4 {
        font-size: 12vw;
        margin: 0 0 7%;
        text-align: center;
    }
    .metlist {
        display: block;
        justify-content: center;
        padding: 5px;
        background: #9a765d;
        color: #fff;
    }
    .met5-left-side {
        width: 100%;
    }
    .met5-left-side ul {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    .met5-left-side ul li {
        font-size: 3.5vw;
        margin-bottom: 20px;
    }
    .met5 .material1 {
        width: 100%;
    }
    .material1 img {
        width: 100%;
        height: auto;
    }
    .contact-section {
        padding: 55px 13px 0px 13px;
    }
    .contact-section h2 {
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 48px;
        color: #896249;
        text-align: left;
        margin: 0;
        padding-bottom: 5px;
    }    
    .about-1 p {
        margin: 50px auto 65px auto;
        font-size: 9px;
        color: #8b5e3c;
        max-width: 65vw!important;
        font-weight: 300;
    }
    .never-about-us .sub-heading {
        color: #9a765d;
        font-family: laren;
        font-size: 8px;
        text-align: center;
        margin-bottom: 100px;
    }
    .navbar ul {
        display: flex;
        padding: 0px 50px;
        flex-direction: column;
        position: fixed;
        justify-content: start;
        top: 53px;
        background-color: #9a765c;
        width: 100%;
        left: 0;
        height: calc(100vh - 55px);
        transform: translate(-101%);
        text-align: center;
        overflow-x: hidden;
        z-index: 99999;
    }
    .mute-btn, .unmute-btn{
        z-index: 9;
    }
    .slick-slider{
        z-index: 1;
    }
    .aboutus-section .about-us-heading {
        height: auto;
        overflow: hidden;
    }
    .about-content h2{
        margin: 0 0 0;
    }
    hr.moving-line{
        border: 1px solid rgb(124 89 66);
    }
    ul.nav li {
        margin-right: unset;
        margin-bottom: 16px;
    }
    .navbar li a {
        font-size: 35px;
    }
    
    
}


@media screen and (max-width:320px){
    .about-1 {
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        align-items: center;
        max-width: 510px;
        top: 50%;
        width: 100vw;
        height: 60vh;
        position: relative;
        padding-bottom: 0;
    }
    .radio-container {
        display: block;
        position: relative;
        padding: 0;
        margin-bottom: 0px;
       
        font-size: 10px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .checkmark {
        position: absolute;
        top: 2px;
        left: 0;
        height: 10px;
        width: 10px;
        background-color: #eee;
        border-radius: 50%;
    }
    .radio-container .checkmark:after {
        top: 2px;
        left: 2px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: white;
    }
    .menu-toggle {
        justify-self: end;
        margin-right: 6px;
    }
}